<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
        <!--<link rel="stylesheet" type="text/css" href="C:\Users\Administrator\Documents\flask\myapp\static\css\main.css">-->
        {%block header%}
        {%endblock%}

    </head>

    <body>
        <!--<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">-->
        {%block body%}
        {%endblock%}
    </body>



</html>